body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

input{
    text-align: center;
    color: whitesmoke;
    width: 350px;
    height: 35px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-bottom: 0;
    /*border-radius: 2px;*/
}
/*
input ::placeholder{
    color: white !important;
}*/

input::-webkit-input-placeholder {
    color: rgba(202, 202, 202, 0.77) !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: rgba(202, 202, 202, 0.77) !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(202, 202, 202, 0.77) !important;
}

input:-ms-input-placeholder {
    color: rgba(202, 202, 202, 0.77) !important;
}

form{
    padding: 30px 0 30px 0;
}

i{
    padding: 0 15px 0 15px;
}
button{
    width: 352px;
    height: 40px;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    background-color: #2b54a7;
}
button:hover{
    background-color: #253e86;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    padding-top: 30px;
    min-height: 70px;
    /*color: ;*/
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
}
ul{
    margin: 0;
    padding: 0;
}

li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

.logo{
    float: left;
    font-size: 20px;
    padding-top: 0;
}

.hadderParallax{
    background: url("../resources/pc1.jpg") no-repeat -100px -200px;
    height: 100vh;
    color: #fafafa;
}

.parallax{
    margin-top: 10%;
    padding-left: 120px;
    display: inline;
}
.parallaxContainer h1{
    float: left;
    text-transform: uppercase;
}
.parallaxContainer div{
    padding-top: 3%;
    float: right;
}

.parallaxContainer{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 10%;
}

.portaParallax{
    /*margin-top: 10%;*/
    /*padding-left: 120px;*/
    display: inline;
}
.portaContainer{
    width: 80%;
    /*margin: auto;*/
    overflow: hidden;
    /*padding-top: 10%;*/
}

.sideImage{
    float: left;
    padding: 0;
    margin: 0;
}

.footerContainer {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.email{
    float: left;
    padding-top: 0;
    color: #878787;
    font-size: 15px;
}
footer{
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: rgba(29, 29, 29, 0.81);
}
footer a{
    text-decoration: none;
    text-transform: uppercase;
    color: #878787;
}
.newsLetterContainer {
    background-color: #2b63c2;
    color: whitesmoke;
    text-align: center;
    padding: 30px 0 30px 0;
}
.newsLetterHadder{
    font-size: 25px;
}

.newsLetterLogo{
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.heading{
    padding: 20px 0 20px 0;
    color: #5d5d5d;
    font-size: 25px;
}

.content{
    padding: 0 0 30px 0;
    color: #5d5d5d;
}

.info{
    padding: 30px 0 50px 0;
    color: #404040;
}